<!-- Base template for NCPP views -->

<html>

	<head>

		<!-- CSS styles -->
		<link rel="stylesheet" href="{{STATIC_URL}}ncpp/openlayers/dev/theme/default/style.css" type="text/css" />
		<link rel="stylesheet" href="{{STATIC_URL}}ncpp/openlayers/dev/examples/style.css" type="text/css" />
		{% include "ncpp/common/ncpp_css.html" %}
		{% include "ncpp/common/ncpp_js.html" %}

		{% block extrahead %}
			<!-- insert custom JavaScript code here -->
		{% endblock %}

	</head>

	<body>

		<!-- header -->
		{% include "ncpp/common/header.html" %}

		<!-- main body content -->
		<div class="main">
			{% block main %}
				<!-- insert HTML body content here -->
			{% endblock %}
		</div>

		<!-- footer -->
		{% include "ncpp/common/footer.html" %}

	</body>

</html>