<!-- Template page used to change the user password -->
{% extends "ncpp/common/base.html" %}

{% block main %}
    
    <div class="box" style="width:600px">
    
        <h2>Change User Password</h2>
        
        <div class="instructions">
        	Passwords must be at least 6 characters. All characters are allowed.
        </div>
    
        <fieldset class="fieldset_box">                
            <form action="" method="post">           
                {% csrf_token %}
                
                <table>
                   <tr>
                        <th nowrap="nowrap"><b>Old Password</b></th>
                        <td>{{ form.old_password }} 
                            &nbsp;<span class="error">{{ form.old_password.errors }}</span>
                        </td>
                    </tr>                
                    <tr>
                        <th nowrap="nowrap"><b>Password</b></th>
                        <td>{{ form.password }}
                        	&nbsp;<span class="error">{{ form.password.errors }}</span> 
                        </td>
                    </tr>
                    <tr>
                        <th nowrap="nowrap"><b>Confirm Password</b></th>
                        <td>{{ form.confirm_password }} 
                            &nbsp;<span class="error">{{ form.confirm_password.errors }}</span>
                        </td>
                    </tr>
                </table>
                
                <div style="text-align:right">
                    <input type="button" value="Cancel" onclick="window.location='{% url 'home' %}'"/>
                    <input type="submit" value="Submit" />
                </div>     
                
            </form>
        </fieldset>
        
    </div>
        
{% endblock %}