<!-- Template page used to create a user account -->
{% extends "ncpp/common/base.html" %}

{% block main %}
        
    <div class="box">
    
    	{% if form.instance.id %}
    		<h2>Updated User Profile</h2>
    	{% else %}
    		<h2>ClimateTranslator Registration</h2>
    	{% endif %}
    	    	
	  	<form action="" method="post">        
			{% csrf_token %}

			<table>
	            <tr>
	                <th nowrap="nowrap">First Name</th>
	                <td>{{ form.first_name }}<br/><span class="error">{{ form.first_name.errors }}</span></td>
	            </tr>
	            <tr>
	                <th nowrap="nowrap">Last Name</th>
	                <td>{{ form.last_name }}<br/><span class="error">{{ form.last_name.errors }}</span></td>
	            </tr>
	            <tr>
	                <th nowrap="nowrap">Username</th>
	                <td>{{ form.username }}
	                    <i>(5 to 30 characters, letters, digits and @/./+/-/_ only.)</i>
	                    <br/><span class="error">{{ form.username.errors }}</span></td>
	            </tr>
	            <tr>
	                <th nowrap="nowrap">Email</th>
	                <td>{{ form.email }}<br/><span class="error">{{ form.email.errors }}</span></td>
	            </tr>
	            
	            <!-- existing user --> 
	            {% if form.instance.id %}	  
                    {{ form.password.as_hidden }}
                    {{ form.confirm_password.as_hidden }}	
                    
                <!-- new user -->                   
	            {% else %}
				    <tr>
	                    <th nowrap="nowrap">Password</th>
	                    <td>{{ form.password }} 
	                       <i>(At least 6 characters. All characters allowed.)</i>
	                       <br/><span class="error">{{ form.password.errors }}</span></td>
	                </tr>
	                <tr>
	                    <th nowrap="nowrap"><b>Confirm Password</td>
	                    <td>{{ form.confirm_password }} 
	                        <--<i>At least 6 characters. All characters are allowed.</i>-->
	                        <br/><span class="error">{{ form.confirm_password.errors }}</span></td>
	                </tr>
				    <tr>
	                    <td class="optional" nowrap="nowrap">Subscribe to Email List?</td>
	                    <td class="long">{{ form.subscribed }} <i>(Low-volume list for periodic site upgrade notifications.)</i> 
	                    <br/><span class="error">{{ form.subscribed.errors }}</span></td>
	                </tr>        
                {% endif %}            		
			</table>
			
			<div style="text-align:center">
				<!--
	        	<hr/>Required fields are in <b>bold</b>.
	        	<br/>The following characters are not allowed: &lt; &gt; &amp; # % { } [ ] $
	        	<br/>
	        	-->
	            <input type="button" value="Cancel" onclick="window.location='{% url 'home' %}'"/>
	            &nbsp; &nbsp;
	            <input type="submit" value="Submit" />
	        </div>
			
		</form>
    </div>
        
{% endblock %}