<!-- Form to select the dataset -->

<!-- custom javascript code -->
<script language="javascript">

    var TEMPORAL_GROUPING = "temporal_grouping";
    
    // function called every time the window is loaded.
    function init() {
    	populateParameters(); 
    	displayTemporalGrouping();
    }
    
    function displayTemporalGrouping() {
    	
    	calcSelect = document.getElementById("id_1-calc");
    	if (calcSelect.value!=null && calcSelect.value!='') {
    		setVisibility(TEMPORAL_GROUPING, true);
    	} else {
    		setVisibility(TEMPORAL_GROUPING, false);
    	}
    	
    }

	function populateParameters() {
		
		// parse calculations JSON from server
		calculations = JSON.parse("{{calculations}}".unescapeHtml());
		
		calcSelect = document.getElementById("id_1-calc");
		var html1 = ""	
		var html2 = ""
		if (calcSelect.value!=null && calcSelect.value!='') {
		
			// update calculation description					
			var calc = calculations[calcSelect.value]
			calcDescription = document.getElementById("calcDescription")
			for (i=0; i<calc["description"].length; i++) {
				if (i==0) html1 += "<b>"+calc["description"][i] +"</b></br>";
				else html1 += calc["description"][i] +"</br>";
			}
		
			// update calculation parameters
			// parameter 1: <input id="id_1-par1" type="text" name="1-par1" size="6" />			
			calcParameters = document.getElementById("calcParameters");
			if (calc["keywords"]!=null) {
				html2 += "<div style='float:left'><table>"
				for (var i=0; i<calc["keywords"].length; i++) {					
					var keyword = calc["keywords"][i];
					var name = keyword["name"];
					var type = keyword["type"];
					var values = keyword["values"];
					
					html2 += "<tr>";
					if (i==0) html2 += "<td>Parameters:</td>";
					else html2 += "<td>&nbsp;</td>";
					html2 += "<th>"+name+":</th>"
					var j = i+1;
					var value = "";
					var errors = "";
					// only show previous values, errors if calc selection hasn't changed
					if (calcSelect.value=='{{ wizard.form.calc.value }}') {
					    if (j==1) {
					    	 value = '{{ wizard.form.par1.value }}';
					    	 errors = '{{ wizard.form.par1.errors }}';
					    } else if (j==2) {
					    	value = '{{ wizard.form.par2.value }}';
					    	errors = '{{ wizard.form.par2.errors }}';
					    } else if (j==3) {
					    	value = '{{ wizard.form.par3.value }}';
					    	errors = '{{ wizard.form.par3.errors }}';
						}
					}
					if (values) {
						// use select widget						
						html2 += '<td><select id="id_1-par'+j+'" name="1-par'+j+'">';
						for (var k=0; k<values.length; k++) {
							var selected = "";
							if (values[k]==value) selected = ' selected="selected"';
							html2 += '<option value="'+values[k]+'"'+selected+'>'+values[k]+'</option>';
						}
						html2 += '</select></td>';
					} else {
						// use text widget
						html2 += '<td><input id="id_1-par'+j+'" type="text" name="1-par'+j+'" size="6" value="'+value+'"/></td>';
					}
					html2 += '<td><span class="error">'+errors+'</span>';
					html2 += "</tr>"
				}
				html2 += "</table></div>"
			}
		
		} // calcultaion != None
		
		calcDescription.innerHTML = html1;
		calcParameters.innerHTML = html2;
		
	}
	
	// load parameters widget every time
	window.onload = init;

</script>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Calculation (Optional)</legend>	
	If no calculation is selected, the raw data will be returned.
	<p/>&nbsp;
         
	<table class="horizontalTable">
		<tr>
			<th nowrap="nowrap"><a href="http://ncpp.github.io/ocgis/appendix.html#aggregate-union" target="_blank">Spatial Average</a>:</th>
			<td>{{ wizard.form.aggregate }}</td>
			<td>Return one value / time series of the statistic for the area of interest based on average of all intersecting grid cells (area-weighted). 
				Otherwise, statistic will be reported separately for each grid cell.
				<br/><span class="error">{{ wizard.form.aggregate.errors }}</span>
			</td>
		</tr>
		<tr>
			<th nowrap="nowrap">Select Statistic:</th>
			<td colspan="2">
				<div style="float:left">
				<table>
					<tr>
						<td class="head">{{ wizard.form.calc }}</td>
						<td class="long">
							<span id="calcDescription"></span>
							<span id="calcParameters"></span>
						</td>
					</tr>
				</table>
			    </div>
			 </td>
		</tr>
		
		<tr>
			<td colspan="3">
				<div id="temporal_grouping" style="text-align: left; float: left;">
				<table align="left">
					<tr>
						<th nowrap="nowrap"><a href="http://ncpp.github.io/ocgis/api.html#calc-grouping" target="_blank">Time Frequency</a>:</th>
						<td colspan="2">
							{% for radio in  wizard.form.calc_group %}
								{{ radio }}<br/>
							{% endfor %}
						    <br/><span class="error">{{ wizard.form.calc_group.errors }}</span></td>
				    </tr>
				</table>
				</div>
			</td>
		</tr>
        <!-- <tr>
			<th>Calculate Raw</th>
			<td>{{ wizard.form.calc_raw }}
				&nbsp;(Advanced) Execute the calculation on raw values. Only applicable if Aggregate is selected.
			     <br/><span class="error">{{ wizard.form.calc_raw.errors }}</span></td>
		</tr> -->
	</table>

</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Output Format</legend>	
	<table class="horizontalTable">
		<tr>
			<th nowrap="nowrap"><b>Output Format:</b></th>
			<td>{{ wizard.form.output_format }}<br/><span class="error">{{ wizard.form.output_format.errors }}</span></td>
		</tr>
		<tr>
			<th><b>File Output Prefix:</b></th>
			<td>{{ wizard.form.prefix }}
			<br/>Optionally, change the prefix for the output data file (use only letters, numbers and '_').
			<br/><span class="error">{{ wizard.form.prefix.errors }}</span></td>
		</tr>
		<tr>
			<th nowrap="nowrap"><b>Add Auxiliary Files:</b></th>
			<td>{{ wizard.form.with_auxiliary_files }} &nbsp;Return a compressed file including auxiliary metadata files.
			<br/><span class="error">{{ wizard.form.with_auxiliary_files.errors }}</span></td>
		</tr>
		
	</table>
</fieldset>