<!-- Form to select the dataset -->

<!-- YUI libraries -->
<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/connection/connection_core-min.js"></script>

<!-- custom javascript code -->
<script language="javascript">

	// widget ids as set by Django wizard
	var NULL_SELECTION = ["","-- Please Select --"]
	
    var WIDGET_DATA_TYPE = "id_0-data_type"
    var WIDGET_LONG_NAME = "id_0-long_name";
    var WIDGET_TIME_FREQUENCY = "id_0-time_frequency";
    var WIDGET_DATASET_CATEGORY = "id_0-dataset_category";
    var WIDGET_DATASET = "id_0-dataset";
    
    var WIDGET_DATASET_CATEGORY2 = "id_0-dataset_category2";
    var WIDGET_PACKAGE_NAME = "id_0-package_name";
    
    var VARIABLE_WIDGETS = "variable_widgets";
    var PACKAGE_WIDGETS = "package_widgets";
    
    var WIDGET_DATETIME_START = "id_0-datetime_start";
    var WIDGET_DATETIME_STOP = "id_0-datetime_stop";
    var WIDGET_DESCRIPTION = "id_0-description";
    
    // list of widgets in the order they are selected
    var VARIABLE_WIDGET_IDS = [WIDGET_DATA_TYPE, WIDGET_LONG_NAME, WIDGET_TIME_FREQUENCY, WIDGET_DATASET_CATEGORY, WIDGET_DATASET]
    var PACKAGE_WIDGET_IDS = [WIDGET_DATA_TYPE, WIDGET_DATASET_CATEGORY2, WIDGET_PACKAGE_NAME]
    
    // function to check wether a given widget value is valid
    function isValid(value) {
    	return (value!=null && value!='' && value!='None');
    }
    
    // function to invalidate the selection of a list of widgets
    // following an unselected widget
    function invalidateSelection(widget_ids) {
    	for (var i=0; i<widget_ids.length; i++) {
    		selectedValue = document.getElementById(widget_ids[i]).value;
    		
    		if (!isValid(selectedValue)) {
    			// select first option for all following widgets
    			for (var j=i+1; j<widget_ids.length; j++) {
    				document.getElementById(widget_ids[j]).options[0].selected = true;
    			}
    			
    			// invalidate metadata widgets
    			document.getElementById(WIDGET_DATETIME_START).value = '';
    			document.getElementById(WIDGET_DATETIME_STOP).value = '';
    			document.getElementById(WIDGET_DESCRIPTION).innerHTML = '';
    			
    			break;
    		}
    	}
    }
    
    // utility method to build the URL query string for datasets or metadata Ajax requests
    function buildQueryString(dataType) {
    	
    	query = "";
        if (dataType=='variable') {
	    	  	    	  
  		      // use long_name from current client selection
  		      long_name = document.getElementById(WIDGET_LONG_NAME).value;
  		      // or from server stored selection
  		      if (!isValid(long_name)) long_name = "{{wizard.form.long_name.value}}";
  		      if (isValid(long_name)) query += "&long_name="+encodeURIComponent(long_name);
 		      
  			  // use time_frequency from current client selection
 		      time_frequency = document.getElementById(WIDGET_TIME_FREQUENCY).value;
 		      // or from server stored selection
  		      if (!isValid(time_frequency)) time_frequency = "{{wizard.form.time_frequency.value}}";
  		      if (isValid(time_frequency)) query += "&time_frequency="+encodeURIComponent(time_frequency);

  		      // use dataset_category from current client selection
 		      dataset_category = document.getElementById(WIDGET_DATASET_CATEGORY).value;
 		      // or from server stored selection
  		      if (!isValid(dataset_category)) dataset_category = "{{wizard.form.dataset_category.value}}";
  		      if (isValid(dataset_category)) query += "&dataset_category="+encodeURIComponent(dataset_category);

  		      // use dataset from current client selection
 		      dataset = document.getElementById(WIDGET_DATASET).value;
 		      // or from server stored selection
  		      if (!isValid(dataset)) dataset = "{{wizard.form.dataset.value}}";
  		      if (isValid(dataset)) query += "&dataset="+encodeURIComponent(dataset);
 		      
	      } else if (dataType=='package') {
	    	  	    		
  		      // use dataset_category2 from current client selection
  		      dataset_category2 = document.getElementById(WIDGET_DATASET_CATEGORY2).value;
  		      // or from server stored selection
  		      if (!isValid(dataset_category2)) dataset_category2 = "{{wizard.form.dataset_category2.value}}";
  		      // or from server stored selection
  		      if (isValid(dataset_category2)) query += "&dataset_category2="+encodeURIComponent(dataset_category2);

  		      // use package_name from current client selection
  		      package_name = document.getElementById(WIDGET_PACKAGE_NAME).value;
  		      // or from server stored selection
  		  	  if (!isValid(package_name)) package_name = "{{wizard.form.package_name.value}}";
  		      if (isValid(package_name)) query += "&package_name="+encodeURIComponent(package_name); 	  		      
  		      
	      }
        
          return query;
    	
    }

    // function triggered by a change in data type selection for this widget
    function getDatasets(widget) {
    	
    	
    	dataType = document.getElementById(WIDGET_DATA_TYPE).value;
    	if (dataType==null || dataType=='') {
    		
    		// invaliate all widgets
    		invalidateSelection(VARIABLE_WIDGET_IDS);
    		invalidateSelection(PACKAGE_WIDGET_IDS);
    		
    		// hide all widgets
	    	setVisibility(PACKAGE_WIDGETS, false);
		    setVisibility(VARIABLE_WIDGETS, false);
    		
    	} else {
  		    			
  		      // data_type is selected
  		      url = '/ncpp/climate_translator/datasets'
  		          + '?data_type='+encodeURIComponent(dataType);
  		      
  		      if (dataType=='variable') {
  		    	  
  		    	  setVisibility(PACKAGE_WIDGETS, false);
  		    	  setVisibility(VARIABLE_WIDGETS, true);
  		    	  
  		    	  // if user selected '--Please Selec--': reset selection for all following widgets
  		          if (widget!=null && !isValid(widget.value)) {
  		    	  	invalidateSelection(VARIABLE_WIDGET_IDS);
  		          }
  		    	  	  		      
  		      } else if (dataType=='package') {
  		    	  
  		    	  setVisibility(VARIABLE_WIDGETS, false);
  		    	  setVisibility(PACKAGE_WIDGETS, true);
  		    	  
  		    	  // if user selected '--Please Selec--': reset selection for all following widgets
  		    	  if (widget!=null && !isValid(widget.value)) {
  		    	  	invalidateSelection(PACKAGE_WIDGET_IDS);
  		    	  }
  		    	    	  		      
  		      }
  		      
  		      // add query string from widgets already selected
  		      url += buildQueryString(dataType);

			  // submit async request
  		      var transaction = YAHOO.util.Connect.asyncRequest('GET', url, ajaxDatasetsCallback, null);   	
 
    	}
    	
    	
    }
    	
	// function to populate the geometry sub-type
	function populateGeometrySubCategories() {
		
		geometryCategorySelect = document.getElementById("id_0-geometry_category");
	    if (geometryCategorySelect.value!=null && geometryCategorySelect.value!='') {
	       
	      // execute ajax call to retrieve the available geometries
	      url = '/ncpp/climate_translator/geometries?category='+encodeURIComponent(geometryCategorySelect.value);
	      var transaction = YAHOO.util.Connect.asyncRequest('GET', url, geometrySubCategoryCallback, null);
	
	    } else {
	      
	      // populate geometry widget with no options
	      var options = new Array();
	      options[0] = ["","-- Please Select --"];
	      showOptions("id_0-geometry_subcategory", options, []);
	      
	    }
		
	}
		
	// function to populate the geometries widget
	function populateGeometryIds() {
		
		geometryCategorySelect = document.getElementById("id_0-geometry_category");
		geometrySubCategorySelect = document.getElementById("id_0-geometry_subcategory");
	    if (   geometryCategorySelect.value!=null && geometryCategorySelect.value!=''
	    	&& geometrySubCategorySelect.value!=null && geometrySubCategorySelect.value!='' ) {
	       
	      // execute ajax call to retrieve the available geometries
	      url = '/ncpp/climate_translator/geometries'
	    	 +  '?category='+encodeURIComponent(geometryCategorySelect.value)
	    	 +  '&subcategory='+encodeURIComponent(geometrySubCategorySelect.value)
	    		                      ;
	      var transaction = YAHOO.util.Connect.asyncRequest('GET', url, geometryIdCallback, null);
	
	    } else {
	      
	      // populate geometry widget with no options
	      var options = new Array();
	      options[0] = ["","-- Please Select --"];
	      showOptions("id_0-geometry_id", options, []);
	      
	    }
	
	}
	
	// function to populate a select widget with options,
	// and maintain any previous selection
	function showOptions(widgetId, options, selectedValues) {

		selectWidget = document.getElementById(widgetId);
		selectWidget.options.length = 0;
		for (var i = 0; i < options.length; i++) {
			var option = new Option(options[i][1], options[i][0]); // label, value
			
			// if only one option + null option, select it
			if (options.length == 2 && isValid(options[i][0]))  option.selected = true;
			// or retaing previous selection
			for (var j=0; j<selectedValues.length; j++) {
				if (options[i][0] == selectedValues[j]) option.selected = true;	
			}
			selectWidget.add( option );
		}
				
	}
		
	
	// function to populate the geometry choices
	function showGeometries(geometries) {

		var options = new Array();
		for (var i = 0; i < geometries.length; i++) {			
			options.push( [geometries[i][1], geometries[i][0]] );
		}
		// must parse current selection of shapes (a concatenated string) into array of strings
		var selectedValues = new Array();
		var shapes = "{{wizard.form.geometry_id.value}}";
		if (shapes!="None") {
			shapes = shapes.unescapeHtml();
			shapes = shapes.substring(1,shapes.length-1);
			shapes = shapes.split(",");
			for (var i=0; i<shapes.length; i++) {
				// u'Arkansas'
				shape =  shapes[i].trim();
				selectedValues[i] = shape.substring(2, shape.length-1);
			}
		}
		showOptions("id_0-geometry_id", options, selectedValues);

	}
	
	// function to populate the geometry choices
	function showGeometrySubCategories(geometries) {

		var options = new Array();
		for (var i = 0; i < geometries.length; i++) {			
			options.push( [geometries[i][1], geometries[i][0]] );
		}
		showOptions("id_0-geometry_subcategory", options, [ "{{wizard.form.geometry_subcategory.value}}" ]);
		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {
		alert("An Error Occurred!"
		     +"\nHTTP Status Code: "+o.status
		     +"\nMessage: "+o.statusText);
	}
	
	// function called if Ajax request to inspect dataset succeded
	var handleGeometryIdSuccess = function(o) {

		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');

		// populate geometry choices
		showGeometries(jsonResponse.geometries);

	}
	
	// function called if Ajax request to retrieve geometry sub-types succeded
	var handleGeometrySubCategorySuccess = function(o) {

		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');

		showGeometrySubCategories(jsonResponse.geometries);
		
		// populate geometry IDs
		populateGeometryIds();

	}
	
	// function that submits an asynchronous metadata request
	// if all the necessary widgets have been selected
	function getMetadata(dataType) {
		
		url = '/ncpp/climate_translator/metadata'
	        + '?data_type='+encodeURIComponent(dataType);
		
		// examine query string from widgets already selected
		query = buildQueryString(dataType);
		
		if (dataType=='variable') {
						
			if (   query.indexOf('long_name=')>0 
				&& query.indexOf('time_frequency=')>0 
				&& query.indexOf('dataset_category=')>0 
				&& query.indexOf('dataset=')>0) {
				// all fields selected -> query for metadata
				var transaction = YAHOO.util.Connect.asyncRequest('GET', url+query, ajaxMetadataCallback, null); 
			}

			
		} else if (dataType=='package') {
			if (query.indexOf('package_name=')>0) {
				// package_name selected -> query for metadata
				var transaction = YAHOO.util.Connect.asyncRequest('GET', url+query, ajaxMetadataCallback, null); 
			}
			
		}
				
	}
	
	// function called if Ajax request to retrieve variables succeded
	var handleDatasetsSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonData = eval('(' + o.responseText + ')');
		
		datType = jsonData.request.data_type;
		
		if (dataType=='variable') {
		
			// populate 'long_name' widget
			populateDatasetOptions(WIDGET_LONG_NAME, jsonData.response.long_name, [ jsonData.request.long_name ]);
			
			// populate 'time_frequency' widget
			populateDatasetOptions(WIDGET_TIME_FREQUENCY, jsonData.response.time_frequency, [ jsonData.request.time_frequency ]);
			
			// populate 'dataset_category' widget
			populateDatasetOptions(WIDGET_DATASET_CATEGORY, jsonData.response.dataset_category, [ jsonData.request.dataset_category ]);
	
			// populate 'dataset' widget
			populateDatasetOptions(WIDGET_DATASET, jsonData.response.dataset, [ jsonData.request.dataset ]);
		
		} else if (dataType=='package') {
			
			// populate 'dataset_category' widget
			populateDatasetOptions(WIDGET_DATASET_CATEGORY2, jsonData.response.dataset_category, [ jsonData.request.dataset_category2 ]);
	
			// populate 'dataset' widget
			populateDatasetOptions(WIDGET_PACKAGE_NAME, jsonData.response.package_name, [ jsonData.request.package_name ]);
						
		}
		
		// trigger request for metadata (if necessary fields have been selected)
		getMetadata(dataType);

	}
	
	// function used to populate a single datasets widget
	function populateDatasetOptions(widget_id, options, selectedOptions) {
	
		// build (value, label) pairs, add null option
		// NOTE: always add the -- Select -- option to allow user to backtrack selection
		var allOptions = new Array(NULL_SELECTION);

		// add all other options
		for (var i = 0; i < options.length; i++) {			
			allOptions.push( [options[i], options[i]] );
		}
		
		showOptions(widget_id, allOptions, selectedOptions);
		
	}
	
	// utility method to add text to the description field
	function addText(text, jsonData, key, label) {
		if (isValid(jsonData[key])) {
			if (text.length>0) text += "<br/>";
			text += label +": "+encodeURIComponent(jsonData[key]); // FIXME
		}
		return text;
	}
	
	// function called if Ajax request to retrieve metadata succeded
	var handleMetadataSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonData = eval('(' + o.responseText + ')');

		// populate date-time widgets
		startDateTimeWidget = document.getElementById(WIDGET_DATETIME_START);
		startDateTimeWidget.value = jsonData['time_range'][0];
		stopDateTimeWidget = document.getElementById(WIDGET_DATETIME_STOP);
		stopDateTimeWidget.value = jsonData['time_range'][1];
		
		// populate description widget
		descriptionWidget = document.getElementById(WIDGET_DESCRIPTION);
		text = "";
		text = addText(text, jsonData['description'], 'dataset_category', 'Dataset Category');	
		text = addText(text, jsonData['description'], 'package', 'Package');
		text = addText(text, jsonData['description'], 'long_name', 'Long Name');
		text = addText(text, jsonData['description'], 'dataset', 'Dataset');
		
		descriptionWidget.innerHTML = text;
		
	}
	
	// function called after Ajax request for datasets returns
	var ajaxDatasetsCallback = {
	  success: handleDatasetsSuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};
	
	// function called after Ajax request for metadata returns
	var ajaxMetadataCallback = {
	  success: handleMetadataSuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};

	// function called after geometry Ajax request for geometries returns
	var geometrySubCategoryCallback = {
	  success: handleGeometrySubCategorySuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};
	
	// function called after geometry Ajax request returns
	var geometryIdCallback = {
	  success: handleGeometryIdSuccess,
	  failure: handleFailure,
	  cache: false,
	  timeout: 5000,
	  argument: [],
	};
	
	function init() {
				
		getDatasets(null); // no widget selected
		
		populateGeometrySubCategories();
		
	}
	
	// reload all widgets every time
	window.onload = init;

		
</script>
       
<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Data Selection</legend>	
	Please select a <i>dataset category</i>, a <i>dataset</i>, and a <i>variable</i>
	<br/>(when selecting a <i>dataset package</i>, a <i>variable</i> selection is not necessary).
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Select Data By</th>
			<td>{{ wizard.form.data_type }}
				<br/>&nbsp;<span class="error">{{ wizard.form.data_type.errors }}</span></td>
		</tr>
	</table>
	<div id="variable_widgets">
		<table class="horizontalTable">
			<tr>
				<th>Long Name</th>
				<td>{{ wizard.form.long_name }}
					<br/>&nbsp;<span class="error">{{ wizard.form.long_name.errors }}</span></td>
			</tr>
			<tr>
				<th>Time Frequency</th>
				<td>{{ wizard.form.time_frequency }}
					<br/>&nbsp;<span class="error">{{ wizard.form.time_frequency.errors }}</span></td>
			</tr>
			<tr>
				<th>Dataset Category</th>
				<td>{{ wizard.form.dataset_category }}
					<br/>&nbsp;<span class="error">{{ wizard.form.dataset_category.errors }}</span></td>
			</tr>
			<tr>
				<th>Dataset</th>
				<td>{{ wizard.form.dataset }}
					<br/>&nbsp;<span class="error">{{ wizard.form.dataset.errors }}</span></td>
			</tr>
		</table>
	</div>
	<div id="package_widgets">
		<table class="horizontalTable">
			<tr>
				<th>Dataset Category</th>
				<td>{{ wizard.form.dataset_category2 }}
					<br/>&nbsp;<span class="error">{{ wizard.form.dataset_category2.errors }}</span></td>
			</tr>
			<tr>
				<th>Package Name</th>
				<td>{{ wizard.form.package_name }}
					<br/>&nbsp;<span class="error">{{ wizard.form.package_name.errors }}</span></td>
			</tr>
		</table>
	</div>
	<table class="horizontalTable">
		<tr>
			<th>Dataset Description</th>
			<td>
				<div id="id_0-description" class="mybox"></div>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Geo-Spatial Selection</legend>	
	Optionally, you may select either a <i>shape</i> geometry, a <i>bounding box</i>, or a <i>point</i>.
	<br/>If no selection is made,the full dataset geo-spatial extent will be processed.
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Geometry:</th>
			<td>
				Category: {{ wizard.form.geometry_category }}
				<br/>Sub-Category: {{ wizard.form.geometry_subcategory }}
				<br/><span class="error">{{ wizard.form.geometry_category.errors }}</span>
				<br/><span class="error">{{ wizard.form.geometry_subcategory.errors }}</span>
			</td>
			<td style="width:100%; text-align:left;"> 
			    Shape: {{ wizard.form.geometry_id }}
				<br/><span class="error">{{ wizard.form.geometry_id.errors }}</span>
			</td>
		</tr>
		<tr>
			<th nowrap="nowrap">Bounding Box:</th>
			<td colspan="3" nowrap="nowrap">
				Latitude min: {{ wizard.form.latmin }} max: {{ wizard.form.latmax }}
				Longitude min: {{ wizard.form.lonmin }} max: {{ wizard.form.lonmax }}
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="2"><span class="error">{{ wizard.form.latmin.errors }}</span>
							<span class="error">{{ wizard.form.latmax.errors }}</span>
							<span class="error">{{ wizard.form.lonmin.errors }}</span>
							<span class="error">{{ wizard.form.lonmax.errors }}</span>
			</td>
		</tr>
		<tr>
			<th>Point:</th>
			<td colspan="2">Latitude: {{ wizard.form.lat }}
							Longitude: {{ wizard.form.lon }}
				<br/><span class="error">{{ wizard.form.lat.errors }}</span>
				<br/><span class="error">{{ wizard.form.lon.errors }}</span>
			</td>	
		</tr>
		<tr>
			<td></td>
			<td colspan="2"><span class="error">{{ wizard.form.lat.errors }}</span>
							<span class="error">{{ wizard.form.lon.errors }}</span>
			</td>
		</tr>
		<tr>
			<th nowrap="nowrap">Aggregate Selection ?</th>
			<td colspan="2">{{ wizard.form.agg_selection }}
				&nbsp;If checked, the selection geometries will be aggregated prior to any spatial operations.
			     <br/><span class="error">{{ wizard.form.agg_selection.errors }}</span></td>
		</tr>
		
	</table>
</fieldset>

<fieldset class="fieldset_box">
	<legend class="fieldset_legend">Temporal Selection</legend>
	Optionally, you may specify a <i>time range</i> (i.e. a start and stop time), 
	and/or a <i>time selection</i> (one or more months, and/or one or more years).
	If both are specified, the <i>time range</i> must contain the <i>time selection</i>.
	<br/>If neither <i>time range</i> or <i>time selection</i> is specified,the full dataset temporal extent will be processed.
	<p/>&nbsp;
	
	<table class="horizontalTable">
		<tr>
			<th>Time Range: Start</th>
			<td>
				{{ wizard.form.datetime_start }} <b>Stop</b> {{ wizard.form.datetime_stop }} &nbsp; [Format: YYYY-MM-DD HH:MM:SS]
				<br/>
				<span class="error">{{ wizard.form.datetime_start.errors }} &nbsp; {{ wizard.form.datetime_stop.errors }}
			</td>
		</tr>
		<tr>
			<th>Time Selection: Months</th>
			<td nowrap="nowrap">
			{% for box in wizard.form.timeregion_month %}
				{{ box }}
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th nowrap="nowrap">Time Selection: Years</th>
			<td>{{ wizard.form.timeregion_year }}
				&nbsp;[Format: YYYY, YYYY, ... or YYYY-YYYY]
			</td>
		</tr>
		<tr>
			<th></th>
			<td><span class="error">{{ wizard.form.timeregion_year.errors }}</span></td>
		</tr>
	</table>
</fieldset>